[safe]
	directory = *
[user]
	name = litlighilit
	email = litlighilit@foxmail.com
[core]
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	reb = rebase -i --autostash --autosquash
	fixup = commit --fixup
	amend = commit --amend --no-edit
